<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="base.ArtistsEntity"/>
        <mapping resource="base/ArtistsEntity.hbm.xml"/>
        <mapping resource="base/EventsEntity.hbm.xml"/>
        <mapping class="base.EventsEntity"/>
        <mapping resource="base/GenresEntity.hbm.xml"/>
        <mapping class="base.GenresEntity"/>
        <mapping class="base.HistoryEntity"/>
        <mapping resource="base/HistoryEntity.hbm.xml"/>
        <mapping resource="base/PlacesEntity.hbm.xml"/>
        <mapping class="base.PlacesEntity"/>
        <mapping class="base.PricesEntity"/>
        <mapping resource="base/PricesEntity.hbm.xml"/>
        <mapping class="base.SelectionsEntity"/>
        <mapping resource="base/SelectionsEntity.hbm.xml"/>
        <mapping class="base.StylesEntity"/>
        <mapping resource="base/StylesEntity.hbm.xml"/>
        <mapping class="base.UsersEntity"/>
        <mapping resource="base/UsersEntity.hbm.xml"/>


    </session-factory>
</hibernate-configuration>